*.pyc

.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
.vscode/settings.json

.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/XDLibs.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/dictionaries/xiudan88.xml
